# Environment variables
.env

# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/frontend/node_modules/
*/node_modules/

# Dependency lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# Compiled files
dist/
build/
coverage/
*.class
*.pyc
*.pyo
__pycache__/

# Temporary files and directories
*.swp
*.bak
*.tmp
*.temp
*~
Thumbs.db
.DS_Store

# IDE-specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS-specific files
*.DS_Store
Icon?

# Python virtual environment
*.venv/
venv/
