# Environment variables
.env

# Node modules
node_modules/

# Logs
logs/
*.log

# Dependency lockfiles
package-lock.json
yarn.lock

# Build output
dist/
build/

# Temporary files and directories
*.tmp
*.temp
*.swp
*.bak
*~
